# PostgreSQL настройки
POSTGRES_DB=trades_db
POSTGRES_USER=user
POSTGRES_PASSWORD=123

# Строка подключения для бэкенда (используется в Docker Compose / Kubernetes)
DATABASE_URL=postgresql://user:123@postgres:5432/trades_db
